.concept-box {
    height: 600px;
    background-color: $bg-blue;
    &-lower {
    clear: both;
        height: 500px;
}
}



.concept-txt {
    font-size: 16px;
    width: 350px;
    height: 600px;
    background-color: #fff;
    line-height: 1.4;
    p {
        font-family: $txt-font;
    }
    &-lower{
        height: 500px;
    }
}

.concept-img {
    height: 600px;
    &-higher {
        width: 60%;
        float: right;
        background: url(../img/concept-1.jpg) no-repeat center center;
        background-size: cover;
    }
    &-lower1 {
        height: 500px;
        width: 15%;
        background: url(../img/concept-3.jpg) no-repeat center center;
        background-size: cover;
    }
    &-lower2 {
        height: 500px;
        width: 45%;
        background: url(../img/concept-2.jpg) no-repeat center center;
        background-size: cover;
    }
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

@media screen and(min-width:$pc) {
    .concept-txt {
        padding: 40px 30px 0;
        box-sizing: border-box;
        h2{
            font-family: $default-font;
            font-size: 28px;
            margin-bottom: 15px;
            border-bottom: 1px solid $black;
        }
    }
    
    .businesshours {
	display: inline-block;
        width: 10em;
        font-size: 24px;
        margin-bottom: 20px;
        color: $blue;
        padding-bottom: 20px;
        border-bottom: 1px solid $black;
}
    
    .shopinfo-box{
        clear: both;
    }
    
    .info-txt {
        transform-origin: 100% 0;
        width: 40%;
        height: 450px;
        float: left;
        font-style: normal;
        font-family: $txt-font;
    }
    .shop-img {
        width: 50%;
        height: 450px;
        background: url(../img/shopinfo.jpg) no-repeat center center;
        background-size: cover;
    }
    .mapwidth {
        max-width: 100%;
    }
}