//mainvisual
//.l-mainvisual {
//    width: 100%;
//    height: 58%;
//}

.mv-logo {
    display: none;
}

@media screen and(min-width:$tab) {
    .l-mainvisual {
        max-width: 1600px;
        margin: 0 auto;
        ul {
            position: relative;
            width: 100%;
//            height: 200px;
//            overflow: hidden;
        }
        li {
            position: absolute;
            width: 100%;
        }
    }
    .mv-logo {
        width: 490px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -256px;
        z-index: 1;
        display: block;
    }
}

@media screen and(min-width:$pc){
    .sns-list{
        width: 33%;
        height: 300px;
        transform-origin: 0 0;
        background-color: #f44;
        float: left;
        list-style-type: none;
    }
    
    .sns-link{
        display: inline-block;
        width: 100%;
        height: 150px;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .facebook{
        transition: .2s background linear;
        background: url(../img/bnr-facebook-mono.png) center center no-repeat;
        background-size: cover;
        &:hover{
            background: url(../img/bnr-facebook.png) center center no-repeat;
            background-size: cover;
        }
    }
    
    .instagram{
        transition: .2s background linear;
         background: url(../img/bnr-insta-mono.png) center center no-repeat;
        background-size: cover;
        &:hover{
            background: url(../img/bnr-insta.png) center center no-repeat;
            background-size: cover;
        }
    }
    
    .news{
        float: left;
        width: 67%;
        height: 300px;
        overflow: auto;
    }
    
    .news-date{
        vertical-align: top;
        color: #fff;
        width: 50%;
        padding-top: 20px;
        box-sizing: border-box;
//        display: block;
//        width: 100%;
//        height: 150px;
        background-color: $bg-yellow;
//        float: left;
//        clear: left;
        font-size: 24px;
    }
    .news-discription{
//        display: block;
//        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        background-color: #fff;
        float: right;
        line-height: 1.2em;
        font-size: 14px;
        border-bottom: 1px dotted $black;
       
    }
    
    .info-container{
        background-color: $bg-yellow;
    }
}