.nav_btn {
    float: right;
}

.btn{
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: #fff 2px solid;
    background-size: 20%;
    text-decoration: none;
    img{
        width: 20px;
        margin-right: 5px;
    }
}

@media screen and(min-width:$tab){
    .nav_btn{
        display: none;
    }
}
